@model Entities.Models.Product

@{
    ViewData["Title"] = "Create Products";
}

<h1>Create Products</h1>
<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div>
                <label for="ProductName">Product Name:</label>
                <input type="text" name="ProductName" required />
            </div>
            <div>
                <label for="SupplierId">Supplier ID:</label>
                <input type="number" name="SupplierId" required />
            </div>
            <div>
                <label for="UnitPrice">Unit Price:</label>
                <input type="number" name="UnitPrice" step="0.01" required />
            </div>
            <div>
                <label for="Package">Package:</label>
                <input type="text" name="Package" required />
            </div>
            <div>
                <label for="IsDiscontinued">Is Discontinued:</label>
                <input type="checkbox" name="IsDiscontinued" />
            </div>
            <button type="submit">Create Product</button>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}